snippet if "if"
{% if ${1:cond} %}${2}{% endif %}${3}
endsnippet

snippet for "for"
{% for ${1:needle} in ${2:haystack} %}${3}{% endfor %}${4}
endsnippet

snippet var "var"
{{ ${1:var} }}${2}
endsnippet


